//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	font-weight: 600;
	font-size: rem(20);
	line-height: math.div(24px, 20px) * 100%;
	background-color: $blue-one;
	border: rem(2) solid $blue-one;
	border-radius: rem(25);
	padding: rem(11) rem(23);
	color: $white;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $blue-one;
			background-color: $white;
		}
	}
	&._fw {
		width: 100%;
	}

	// .button_icon
	&_icon {
		gap: rem(13);
		flex-direction: row-reverse;
		&::before {
			font-size: rem(20);
			font-weight: 600;
			color: inherit;
		}
	}
	//.button_tips
	&_tips {
		background-color: $white;
		border: rem(2) solid $main;
		border-radius: rem(5);
		color: $main;
		text-align: center;
		justify-content: center;
		min-height: rem(64);
		@media (any-hover: hover) {
			&:hover {
				background-color: $main;
				color: $white;
			}
		}
	}

	@media (max-width: $mobile) {
		padding: rem(9) rem(18);
		font-size: rem(19);
		// .button_icon
		&_icon {
			&::before {
				font-size: rem(19);
			}
		}
		//.button_tips
		&_tips {
			@include adaptiveValue("min-height", 64, 50, 0, 768, 320);
			@include adaptiveValue("font-size", 24, 16, 0, 768, 320);
		}
	}
}
